---
import { data } from "@/layouts/primaryLayout.astro";
import { JumbledText } from "../ui/jumbledText";
import Link from "../ui/link.astro";
---
<footer>
  <div class="socials">
    <Link href={`tel:${data.phone}`}>
      <JumbledText backgrounded weight="200" text="phone" client:only="react" />
    </Link>
    <Link href={`mailto:${data.email}`}>
      <JumbledText backgrounded weight="200" text="email" client:only="react" />
    </Link>
    {data.socials.map((social: any) => (
      <Link href={social.href}>
        <JumbledText
          backgrounded
          weight="200"
          text={social.title}
          client:only="react"
        />
      </Link>
    ))}
  </div>
</footer>
<style>
  .socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
</style>
