---
import { data } from "@/layouts/primaryLayout.astro";
---

<header>
  {
    data.logoUrl && (
      <a href="/">
        <img src={data.logoUrl} alt="logo" />{" "}
      </a>
    )
  }
</header>
<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
  }
</style>
