---
import { Button } from '@/components/ui/button'
import { JumbledText } from '@/components/ui/jumbledText'
import PrimaryLayout from '@/layouts/primaryLayout.astro'
import { CenteredContent } from '@/components/layout/centeredContent'
var personName = "John Doe";
var startupName = "Startup Inc.";
var jobTitle = "Software Engineer";
---
<!-- Markdown Preview - https://dillinger.io/ -->
<PrimaryLayout>
    <CenteredContent client:only="react">
        <JumbledText text={"Hi, I'm " + personName + ". I'm a software engineer residing in Calgary, AB."} client:only="react" />
        <JumbledText text={"I'm currently working at " + startupName + " as a " + jobTitle + "."} client:only="react" />
        <JumbledText text={"Beep boop beep boop."} client:only="react" />
        <Button client:only="react">Contact Me</Button>
    </CenteredContent>
</PrimaryLayout>