---
import { RootContent } from "@/components/layout/rootContent";
import Header from "@/components/layout/header.astro";
import Footer from "@/components/layout/footer.astro";
import "@/styles/globals.css";

export const data = await fetch(`${import.meta.env.API_ENDPOINT}/content`).then(
  (res) => {
    try {
      return res.json();
    } catch (e) {
      console.error(e);
      return null;
    }
  }
);

const pageTitle = data?.fullName ?? "Totally Original";
const faviconUrl = data?.logoUrl ?? "/favicon.svg";
---

<html lang="en">
  <head>
    <title>{pageTitle}</title>
    <link rel="icon" href={faviconUrl} />
    <script src="https://kit.fontawesome.com/e9654e5687.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <Header />
    <RootContent client:only="react">
      <slot />
    </RootContent>
    <Footer />
  </body>
</html>
