---
import { RootContent } from "@/components/layout/rootContent";
import "@/styles/globals.css";

export const data = await fetch(`${import.meta.env.API_ENDPOINT}/content`).then((res) => res.json());

const pageTitle = data?.fullName ?? "Totally Original";
const faviconUrl = data?.faviconUrl ?? "/favicon.svg";
---

<html lang="en">
  <head>
    <title>{pageTitle}</title>
    <link rel="icon" href={faviconUrl} />
  </head>
  <body>
    <RootContent client:only="react">
      <slot />
    </RootContent>
  </body>
</html>
